{% extends 'base.html.twig' %}

{% block title pin.title %}

{% block body %}
    <div class="container mt-3">
        <article>
            <h1 class="text-muted py-3">{{pin.title}}</h1>
                <p>{{pin.description}}</p>
        </article>


    </div>
{% endblock %}
